.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: variables.$text-color;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 18px;
  bottom: 0;
  left: 0;
  background-color: variables.$text-color;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
