@font-face {
  font-family: "flexible-hw";
  src: url(../../font/flexible-h800-w200.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "flexible-variable";
  src: url(../../font/flexible-variable.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "suissintl-light";
  src: url(../../font/suisseIntl-light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ppneuemontreal-bold";
  src: url(../../font/PPNeueMontreal-Bold.otf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ppneuemontreal-normal";
  src: url(../../font/PPNeueMontreal-Medium.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
