/* tablet */

@media (min-width: 768px) {
  .section-title {
    margin-top: 12vw;
    &__title {
      font-size: 15vw;
      line-height: 14vw;
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }

  .section-details {
    &__detail:nth-child(1) {
      font-family: "ppneuemontreal-normal";
      line-height: 18px;
      font-size: 2vw;
      span {
        padding-left: 2.2px;
      }
    }

    &__detail:nth-child(2) {
      font-family: "flexible-hw";
      font-size: 10vw;
      margin-top: -30px;
      font-weight: lighter;
    }
  }

  .nav-list-hamburger {
    margin-top: 12vw;
  }

  .section-contact-mobile {
    &__social {
      line-height: 2.4vw;
    }
  }
}

/* PC */
@media (min-width: 992px) {
  .header {
    .col:nth-child(3) {
      justify-content: start;
    }
    .nav-list {
      display: flex;
    }
    .hamburger-menu {
      display: none;
    }
    .nav-list-hamburger {
      display: none;
    }
  }

  .section-title {
    margin-top: 5vw;
    &__title {
      font-size: 8vw;
      line-height: 8vw;
      width: 70%;
      position: relative;
      left: -9vw;
      text-align: end;
    }
  }

  .section-details {
    &__detail {
      padding-left: 81px;
      text-align: start;
    }
    &__detail:nth-child(1) {
      font-family: "ppneuemontreal-normal";
      line-height: 18px;
      font-size: 1vw;
      span {
        padding-left: 2.2px;
      }
    }

    &__detail:nth-child(2) {
      font-family: "flexible-hw";
      font-size: 5vw;
      margin-top: -30px;
      font-weight: lighter;
    }
  }

  .section-intro {
    &__item {
      font-size: 1vw;
    }
  }
}
