a {
  text-decoration: none;
  color: variables.$text-color;
}

a:hover {
  color: variables.$text-color;
}

::selection {
  color: variables.$background-color;
  background: variables.$text-color;
}
