@use "variables";
@use "scrollbar";
@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/maps";
@import "./bootstrap/mixins";
@import "./bootstrap/root";
@import "./bootstrap/reboot";
@import "./bootstrap/images";
@import "./bootstrap/containers";
@import "./bootstrap/grid";

@font-face {
  font-family: "flexible-hw";
  src: url(../fonts/flexible-h800-w200.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "flexible-variable";
  src: url(../fonts/flexible-variable.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "suissintl-light";
  src: url(../fonts/suisseIntl-light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ppneuemontreal-bold";
  src: url(../fonts/PPNeueMontreal-Bold.otf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ppneuemontreal-normal";
  src: url(../fonts/PPNeueMontreal-Medium.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: variables.$background-color;
  color: variables.$text-color;
}

a {
  text-decoration: none;
  color: variables.$text-color;
}

a:hover {
  color: variables.$text-color;
}

::selection {
  color: variables.$background-color;
  background: variables.$text-color;
}

.header {
  height: 20vh;
  margin-top: 4vw;
  padding-left: 4vw;

  &__item {
    line-height: 13.5px;
    color: variables.$text-color;
    text-decoration: none;
    font-weight: 500;
  }

  .nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    width: fit-content;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: variables.$text-color;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: variables.$text-color;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section-title {
  margin-top: 5vw;

  &__title {
    font-family: "flexible-hw";
    font-size: 8vw;
    line-height: 8vw;
    width: 70%;
    text-align: end;
    position: relative;
    top: -10vh;
    left: -13vw;
    font-weight: lighter;
  }
}

.section-details {
  margin-top: 4vw;

  &__detail {
    padding-left: 81px;
  }

  &__detail:nth-child(1) {
    font-family: "ppneuemontreal-normal";
    line-height: 18px;
    font-size: 1vw;
    span {
      padding-left: 2.2px;
    }
  }

  &__detail:nth-child(2) {
    font-family: "flexible-hw";
    font-size: 5vw;
    margin-top: -30px;
    font-weight: lighter;

    span {
      margin-left: 10px;
    }
  }
}

.section-intro {
  margin-top: 20vw;
  padding-left: 5vw;
  padding-right: 5vw;

  font-family: "ppneuemontreal-normal";

  &__item {
    font-size: 1vw;
  }

  .col:nth-child(1) {
    .section-intro__item:nth-child(1) {
      width: 62.75px;
      text-align: end;
    }
  }

  .col:nth-child(2) {
    .section-intro__item {
      line-height: 20px;
    }
    .section-intro__item:nth-child(2) {
      transform: translateX(-7.15vw);
      span {
        display: block;
        width: 16.5vw;
        text-align: end;
      }
    }
  }

  &__details {
    padding-top: 80px;
    font-size: 1vw;
    padding-left: 2.1vw;
    line-height: 20px;
  }

  &__certificates {
    line-height: 50px;
    padding-bottom: 1.5px;
    border-bottom: 2px solid variables.$text-color;
  }
}

.separator {
  margin-top: 20vw;
  padding-left: 5vw;
  font-family: "ppneuemontreal-normal";

  .col {
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 1vw;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .col:nth-child(1) {
    .separator__item {
      width: 62.75px;
      justify-content: end;
    }
  }

  .col:nth-child(3) {
    .separator__item {
      font-size: 2.5vw;
      padding-left: 173px;
    }
  }

  &__line {
    background-color: variables.$text-color;
    height: 2px;
    width: 70vw;
    position: absolute;
    display: flex;
    align-items: center;
  }

  @media (min-width: 1000px) {
    &__line {
      width: 74vw;
      left: 13vw;
    }
  }

  @media (min-width: 1200px) {
    &__line {
      width: 74vw;
      left: 12vw;
    }
  }

  @media (min-width: 1300px) {
    &__line {
      width: 73vw;
      left: 11vw;
    }
  }

  @media (min-width: 1400px) {
    &__line {
      width: 73vw;
      left: 11vw;
    }
  }

  @media (min-width: 1500px) {
    &__line {
      width: 72vw;
      left: 10.5vw;
    }
  }

  @media (min-width: 1600px) {
    &__line {
      width: 71vw;
      left: 10vw;
    }
  }

  @media (min-width: 1800px) {
    &__line {
      width: 70vw;
      left: 10vw;
    }
  }

  @media (min-width: 1900px) {
    &__line {
      width: 69vw;
      left: 9.2vw;
    }
  }
}

.section-projects {
  padding-left: 5vw;

  &__project-title {
    font-size: 4vw;
    margin-bottom: 0;
    display: flex;
    align-items: center;

    &--font {
      font-family: "flexible-variable";
    }
  }

  .col {
    display: flex;
    align-items: center;
  }

  .row:nth-child(1) {
    padding-top: 3vw;
    .col:nth-child(1) {
      .section-projects__project-title {
        padding-left: 62.75px;
      }
    }
  }

  .row:nth-child(2) {
    padding-top: 3vw;
    .col:nth-child(2) {
      justify-content: end;
    }
    .col:nth-child(3) {
      .section-projects__project-title {
        padding-left: 115px;
      }
    }
  }

  .row:nth-child(3) {
    padding-top: 3vw;
    .col:nth-child(1) {
      justify-content: end;
    }
  }

  &__project-image {
    width: 200px;
    height: 100px;

    background-color: red;
  }
}

.section-contact {
  font-family: "ppneuemontreal-normal";
  line-height: 1.3vw;
  padding-left: 5vw;

  .row:nth-child(1) {
    .col:nth-child(1) {
      .section-contact__info {
        font-size: 1.3vw;
        padding-left: 62.75px;
      }
    }
  }

  .row:nth-child(2) {
    .col {
      .section-contact__info {
        font-size: 5vw;
        line-height: 4.3vw;
        text-align: end;
        padding-top: 5vw;
        position: relative;
        left: -60px;
      }
    }
  }

  .row:nth-child(3) {
    font-size: 16px;
    padding-top: 100px;
  }
}

/* @media (min-width: 1000px) {
  .section-contact .row:nth-child(1) .col:nth-child(1) .section-contact__info {
    margin-left: 87px;
  }

  .section-contact .row:nth-child(2) .col .section-contact__info {
    padding-right: 0px;
  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1200px) {
  .section-contact .row:nth-child(1) .col:nth-child(1) .section-contact__info {
    margin-left: 93px;
  }
  .section-contact .row:nth-child(2) .col .section-contact__info {
    padding-right: 30px;
  }
}
@media (min-width: 1300px) {
  .section-contact .row:nth-child(2) .col .section-contact__info {
    padding-right: 55px;
  }
}
@media (min-width: 1400px) {
  .section-contact .row:nth-child(1) .col:nth-child(1) .section-contact__info {
    margin-left: 98px;
  }
  .section-contact .row:nth-child(2) .col .section-contact__info {
    padding-right: 65px;
  }
}
@media (min-width: 1500px) {
  .section-contact .row:nth-child(1) .col:nth-child(1) .section-contact__info {
    margin-left: 100px;
  }
  .section-contact .row:nth-child(2) .col .section-contact__info {
    padding-right: 70px;
  }
}
@media (min-width: 1600px) {
  .section-contact .row:nth-child(1) .col:nth-child(1) .section-contact__info {
    margin-left: 105px;
  }
  .section-contact .row:nth-child(2) .col .section-contact__info {
    padding-right: 70px;
  }
}
@media (min-width: 1700px) {
  .section-contact .row:nth-child(1) .col:nth-child(1) .section-contact__info {
    margin-left: 110px;
  }
  .section-contact .row:nth-child(2) .col .section-contact__info {
    padding-right: 150px;
  }
}
@media (min-width: 1800px) {
  .section-contact .row:nth-child(1) .col:nth-child(1) .section-contact__info {
    margin-left: 112px;
  }
  .section-contact .row:nth-child(2) .col .section-contact__info {
    padding-right: 170px;
  }
}
@media (min-width: 1900px) {
  .section-contact .row:nth-child(1) .col:nth-child(1) .section-contact__info {
    margin-left: 115px;
  }
  .section-contact .row:nth-child(2) .col .section-contact__info {
    padding-right: 180px;
  }
} */
