.header {
  margin-top: 4vw;
  padding-left: 4vw;
  font-family: "ppneuemontreal-normal";

  .col {
    display: flex;
    align-items: center;

    a {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
      width: fit-content;
      line-height: 15px;
    }
  }

  .col:nth-child(3) {
    justify-content: end;
  }

  .nav-list {
    list-style: none;
    padding: 0;
    width: fit-content;
    margin-bottom: 0;
    display: none;

    &__item {
      line-height: 10px;
      color: variables.$text-color;
      text-decoration: none;
      font-weight: 500;
    }
  }

  .nav-list-hamburger {
    list-style: none;
    margin-top: 12vw;
    margin-right: 12;
    padding: 0;

    &__item {
      display: flex;
      justify-content: center;
    }

    &--hide {
      display: none;
    }
  }

  .hamburger-menu {
    text-align: end;
  }
}

.section-title {
  &__title {
    font-family: "flexible-hw";
    font-size: 12vw;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    margin-top: 35px;
  }
}

.section-details {
  margin-top: 5.5vw;

  &__detail {
    text-align: start;
  }

  &__detail:nth-child(1) {
    font-family: "ppneuemontreal-normal";
    line-height: 3vw;
    font-size: 3vw;
    span {
      padding-left: 2.2px;
    }
  }

  &__detail:nth-child(2) {
    font-family: "flexible-hw";
    font-size: 10vw;
    margin-top: -25px;
    font-weight: lighter;

    span {
      margin-left: 10px;
    }
  }
}
