.section-intro-mobile-tablet {
  margin-top: 100px;
  font-family: "ppneuemontreal-normal";

  .row:nth-child(3) {
    display: flex;
    justify-content: end;

    .section-intro-mobile {
      &__item {
        text-align: justify;
      }
    }
  }

  &__item {
    text-align: justify;
  }

  &__certificates {
    margin-top: 20px;
    text-align: end;
    a {
      border-bottom: 1px solid variables.$text-color;
    }
  }
}
