.section-projects {
  padding-left: 5vw;
  font-family: "ppneuemontreal-normal";

  &__project-title {
    font-size: 4vw;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .col {
    display: flex;
    align-items: center;
  }

  .row:nth-child(1) {
    padding-top: 3vw;
    .col:nth-child(1) {
      .section-projects__project-title {
        padding-left: 62.75px;

        span {
          font-family: "flexible-variable";
          padding-bottom: 10px;
        }
      }
    }
  }

  .row:nth-child(2) {
    padding-top: 3vw;
    .col:nth-child(2) {
      justify-content: end;
    }
    .col:nth-child(3) {
      .section-projects__project-title {
        padding-left: 115px;
      }
    }
  }

  .row:nth-child(3) {
    padding-top: 3vw;
    .col:nth-child(1) {
      justify-content: end;
    }
  }

  &__project-image {
    width: 200px;
    height: 100px;

    background-color: red;
  }
}

.section-projects-mobile {
  margin-top: 50px;
  font-family: "ppneuemontreal-normal";

  .row {
    padding: 3px 0;
  }

  .col:nth-child(2) {
    display: flex;
    justify-content: end;
  }
  &__project-image {
    background-color: greenyellow;
    width: 200px;
    height: 100px;
  }
}
