.section-projects-mobile {
  margin-top: 50px;
  font-family: "ppneuemontreal-normal";

  .row {
    padding: 3px 0;
  }

  .col:nth-child(2) {
    display: flex;
    justify-content: end;
  }
  &__project-image {
    border-radius: 5px;
  }
}
